* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-height:100vh;
  display:flex;
  flex-direction: column;
}

.div-container {
  display: flex;
}

.left,
.right {
  width: 50%;
  padding: 2rem;
}

.left-heading {
  font: 1.5rem Inconsolata, sans-serif;
  color: #333333;
  letter-spacing: -0.08em;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 12.5rem;
}

.hero-img {
  max-width: 447px;
  width: 100%;
}

.right-heading {
  margin-top: 12.5rem;
  font: 4rem Space Mono, sans-serif;
  color: #333333;
  font-weight: 700;
  letter-spacing: -0.035em;
  max-width: 586px;
}

.right-subheading {
  font: 1.5rem Space Mono, sans-serif;
  font-weight: 400;
  color: #333333;
  max-width: 381px;
  margin-top: 2.25rem;
}

.homepage-button {
  font: 0.875rem Space Mono, sans-serif;
  font-weight:700;
  letter-spacing: -0.035em;
  background-color: #333333;
  margin-top: 4rem;
  text-transform: uppercase;
  color: white;
  padding: 24px 43px 23px 43px;
  width: fit-content;
}

footer {
  width: 100%;
  padding: 1rem 0px 1rem 0px;
  margin-top:auto;
}

.footer-text {
  font: 0.875rem Montserrat, sans-serif;
  color: #bdbdbd;
  text-align: center;
}

@media only screen and (max-width: 992px) {
  .div-container {
    display: block;
  }
  .left,
  .right {
    width: 100%;
    height: auto;
  }
  .image-wrapper {
    margin-top: 3rem;
  }
  .right-heading {
    margin-top: 0;
    width: 100%;
    font-size: 3rem;
    padding-left: 1rem;
    height: auto;
  }
  .right-subheading {
    padding-left: 1rem;
    width: 95%;
    font-size: 1.125rem;
  }
}
